:root{
    --dark-bg-color: #1F2937;
    --primary-color: #F9FAF8;
    --secondary-color: #E5E7EB;
    --cta-bg-color: #3882F6;
}

*{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    font-family: "Roboto", serif;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

/* Header section ============== */

header{
    background-color: var(--dark-bg-color);
    width: 100%;
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header > img{
    filter: invert(89%) sepia(100%) saturate(32%) hue-rotate(253deg) brightness(108%) contrast(100%);
    max-width: 30%;
}

nav > ul{
    display: flex;
    gap: 1em;
}

nav a{
    color:var(--secondary-color);
}

/* Main section ============== */

/* Hero section ============== */

.hero{
    background-color: var(--dark-bg-color);
    width: 100%;
    padding: 5% 10%;
    display: flex;
    justify-content: space-between;
}

.hero img {
    padding-left: 2em;
    max-width: 40%;
    object-fit: scale-down;
}

.main-message h1{
    font-size: 48px;
    color: var(--primary-color);
    font-weight: 900;
    max-width: 50%;
}

.main-message p {
    font-size: 18px;
    color: var(--secondary-color);
}

 .hero button{
    color: var(--primary-color);
    background-color: var(--cta-bg-color);
    margin-top: 15px;
    border: none;
    padding: 10px 40px;
    border-radius: 10px;
    font-weight: bolder;
}

/* Testimonial section ============== */

.testimonials-container{
    width: 100%;
    padding: 5% 10%;
}

.testimonials-container > h2 {
    color: var(--dark-bg-color);
    font-size: 36px;
    font-weight: 900;
    text-align: center;
}

.testimonials{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;

}
.testimonial{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    flex: 1;
}

.testimonial > img {
    border: 5px solid var(--cta-bg-color);
    border-radius: 30px;
    max-width: 100%;
    flex-grow: 1;
    object-fit: scale-down;
    padding: .2em;
}

.testimonial-text{
    color: var(--dark-bg-color);
}

/* Quote section ============== */

.quote{
    width: 100%;
    padding: 5% 10%;
    background-color: var(--secondary-color);
}

blockquote{    
    font-style: italic;
    font-weight: lighter;
    color: var(--dark-bg-color);
    font-size: 36px;

}

.quote-author{
    font-weight: bold;
    font-size: 26px;
    text-align: right;
}

/* Call To Action section ============== */


.cta{
    width: 100%;
    padding: 5% 10% ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cta-text{
    max-width: 75%;
}

.banner{
    width: 100%;
    background-color: var(--cta-bg-color);
    color: var(--primary-color);
    border-radius: 10px;
    padding: 1em 3em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cta button{
    flex-shrink: 0;
    color: var(--secondary-color);
    background-color: var(--cta-bg-color);
    border: .2em solid var(--primary-color);
    padding:  .5em 2em;
    font-weight: bolder;
    border-radius: 2em;
}

/* Footer section ============== */

footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-bg-color);
    color: var(--secondary-color);
    padding: 1% 4%;
}